@model IEnumerable<Web_API.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table style="width: 100%;background-color: black; color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Short_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Small_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.Label("Edit")
        </th>
        <th>
            @Html.Label("Delete")
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoery)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Short_Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Small_Image)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.ActionLink("Modify", "Edit", new { id = item.ProductId, @class = "badge badge-warning" })


    </td>
    <td>

        @Html.ActionLink("Remove", "Delete", new { id = item.ProductId, @class = "badge badge-warning" })
    </td>
</tr>
    }

</table>
